src/Actio.Api/bin/*
src/Actio.Api/obj/*
src/Actio.Common/bin/*
src/Actio.Common/obj/*
src/Actio.Services.Activities/bin/*
src/Actio.Services.Activities/obj/*
src/Actio.Services.Identity/bin/*
src/Actio.Services.Identity/obj/*